.svg-circle-container {
    display: inline-block;
    position: relative;
    width: 90%;
    padding-bottom: 90%; /* aspect ratio */
    vertical-align: middle;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

body {
  background: #1D1D1D;
}

.chord path {
  fill-opacity: .7;
}

div.tooltip {
  color: black;
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 14px sans-serif;
  background: #ddd;
  border: solid 1px black;
  border-radius: 8px;
  pointer-events: none;
}