
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto:100,400,700|Old+Standard+TT:400,700');


/* ----- html ----- */
body {
  background-color: #1D1D1D;
  margin-top: 0px;
}
 

.wrapper {
  width: 1000px;
  padding: 5px 5px;
  margin: 1px auto 10px auto;
  background-color: gray;
  font-size: 12pt; 
  font-family: serif;
}
/*--- map ---*/
#map-here {
    width: 1000px;
    height: 600px;
    margin: 0;
    padding: 0;
}
        
.overlay, .overlay svg {
  position: absolute;
}
 
.overlay svg {
  width: 60px;
  height: 20px;
  padding-right: 25px;
  font: 10px sans-serif;
}

.maplabel {
    fill: blue;
        }
/* ----- SVG ----- */
.slice > path{
  stroke-width:1px;
    stroke: #fff;
} 
.slice:hover > path{
    stroke: #ff9c27 ;
    stroke-width: 2px;
}
.bar:hover {
  stroke: #ff9c27 ;
}
.totalbar:hover {
  stroke: #ff9c27 ;
}
  
text {
  fill: black;  
}    

svg {
  font: 10px sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
path {
  fill: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bart>text {
  fill: #0072b9;
}
.caltrain>text {
  fill: #e63737; 
}

#tooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 5px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}
.hover-hide >text.startCount, .hover-hide>text.endCount{
  display: none;
}
